.contato-container {
  background-color: #000;
  padding: 80px 0px 0px 0px;
  width: 100%;
}
.contato {
  margin: 0px 20px;
  font-size: 1rem;
  margin: 40px 180px 0px 140px;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contato-menssagem {
  width: 430px;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #cccccc;
  position: relative;
}

.contato-menssagem::before {
  content: "";
  display: block;
  width: 2px;
  height: 84px;
  background: linear-gradient(180deg, #5076e9 0%, #193a9d 100%);

  position: absolute;
  left: -10px;
}

.contato-dados {
  position: relative;
}
.contato-dados::before {
  content: "";
  display: block;
  width: 2px;
  height: 84px;
  background: linear-gradient(180deg, #5076e9 0%, #193a9d 100%);

  position: absolute;
  right: -10px;
}

.contato-dado {
  display: flex;
  margin-bottom: 5px;
}
.contato-dado .contato-icone {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}
.contato-links {
  margin: 10px 34px;
  display: flex;
  gap: 25px;
}
footer {
  margin-top: 80px;
}

footer p {
  font-size: 18px;
  line-height: 32px;
  color: #8f8f8f;
  text-align: center;
  padding: 20px;
}

@media (max-width: 1000px) {
  .contato {
    justify-content: center;
    width: 700px;
    margin: 0 auto;
  }
}
@media (max-width: 800px) {
  .contato {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 60px;

    justify-items: center;
    width: 700px;
    margin: 0 auto;
  }

  .contato-menssagem {
    width: 300px;
  }
  .contato-menssagem::before {
    height: 115px;
  }

  .contato-dados::before {
    display: none;
  }
}

@media (max-width: 720px) {
  .contato {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .contato {
    width: 300px;
  }

  .contato-menssagem {
    width: 200px;
    font-size: 0.8rem;
  }

  .contato-dados {
    width: 300px;
    font-size: 0.8rem;
  }
  .contato-dado {
    justify-content: center;
  }

  .contato-links {
    justify-content: center;
  }
  footer p {
    font-size: 0.6rem;
    padding-bottom: 5px;
  }
}
