.header {
  background-color: #141414;
  color: #fff;
  width: 100%;
  display: flex;
  min-height: 60px;
  width: 100%;
  padding: 0px 60px;
  justify-content: space-between;
  align-items: center;
}
#logo {
  width: 120px;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.header-menu a {
  display: block;
  font-size: 0.97rem;
  padding: 10px 20px;
}

.header-menu li a:hover {
  color: #ccc;
  text-decoration: underline;
}

@media (max-width: 1300px) {
  .header {
    max-width: 1300px;
  }
}
@media (max-width: 800px) {
  .header {
    flex-direction: column;
  }

  #logo {
    padding-top: 20px;
    margin: 0px;
  }

  .header-menu {
    padding: 10px 0px;
    margin: 0px;
    text-decoration: underline;
  }
  .header-menu a {
    background-color: #000000;
    border-radius: 5px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 10px;
  }
  .header-menu {
    gap: 5px;
    margin-top: 10px;
    padding: 5px 10px;
  }

  .header a {
    padding: 5px 7px;
  }
}
