* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", arial, sans-serif;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  margin: 0px;
}

a {
  color: white;
  text-decoration: none;
}
p {
  margin: 0px;
}

body {
  background-color: rgb(238, 238, 238);
}
